html {
    box-sizing: border-box;
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* modal */

#modal {
    display: none;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(238, 130, 238, 0.6);
    position: fixed;
    overflow: auto;
}

#modal_container {
    text-transform: uppercase;
    border-radius: 10px;
    width: 45%;
    border: 1px solid black;
    margin: auto;
    background-color: rgb(255, 228, 196);
    justify-content: center;
}

.closeBtn {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 30px;
    background-color: gray;
    cursor: pointer;
}